# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ziffers'
      'submenu': [
        {
          'label': 'Play File'
          'command': 'atom-ziffers:play-file'
        },
        {
          'label': 'Play Selection'
          'command': 'atom-ziffers:play-selection'
        },
        {
          'label': 'Stop Playing'
          'command': 'atom-ziffers:stop'
        }
      ]
    ]
  }
]
